
.mui-card-header{
	width:100%;
	position:relative;
	height: .96rem;
	background-color: #f9be00;
	z-index: 1000;
}
.mui-card-header>a:first-child>img{
	width: 1.73rem;
	height: .5rem;
}
.mui-card-header>a::before{
	color: #fff;
	font-size: .55rem;
}
section > img{
	width: 100%;
	display: block;	
}

section.mui-content{
	position: relative;
}
section.mui-content>input[type=search]{
	font-family: "微软雅黑";
	font-size: .25rem;
	text-align: left;
	background-color: #fff;
	padding-left: .60rem;
	display: block;
	width: 75%;
	height: .627rem;
	border-radius: .3135rem;
	border: 1px solid #fabd00;
	position: absolute;
	left:1.15rem;
	top: 2rem;
}
section.mui-content>i{
	display: block;
	font-size: .5rem;
	color: #999;
	position: absolute;
	left: 1.25rem;
	top: 2.05rem;
}
section.mui-content>#content_top_bottom{
	display: flex;
	margin-bottom: 0.2313rem;
}
section>#content_top_bottom>li{
	flex: 1;
	height: 2.65rem;
	background-color: #fff;
	padding: .5rem 0;
}
section>#content_top_bottom>li{
	text-align: center;
}
section>#content_top_bottom>li:nth-child(1) img{
	transform: rotateZ(-90deg);
}
section>#content_top_bottom>li a{
	display: block;
	height: 100%;	
}
section>#content_top_bottom>li:nth-child(2) a{
	border-left: 2px solid #ddd;	
}
section>#content_top_bottom>li img{
	height: .7rem;
	width: .65rem;
}
section>#content_top_bottom>li p{
	font-size: .25rem;
	font-family: "微软雅黑";
}

/*步骤部分*/
#steps{
	background-color: #fff;
	padding-bottom: .39rem;
	margin-bottom: .23rem;	
}

#steps p:nth-child(1){
	height: 1.018rem;
	line-height: 1.018rem;
	text-align:center;
	font-size: .37rem;
	letter-spacing: .05rem;
	color: #333;
}
#steps img{
	width: 5.8275rem;
	margin: 0 auto !important;
	display: block;
}
#steps ul{
	padding: .2315rem .1rem .3rem .1rem;
	display: flex;
	margin: 0 auto .3rem auto;
}
#steps ul li{
	flex: 1;
	font-size: .30rem;
	text-align:center;
	color: #666;
	
}

#steps>a{
	display: block;
	line-height: .565rem;
	width:2.5rem;
	font-size: .25rem;
	text-align:center;
	margin:.2435rem auto 0 auto !important;
	border: 1px solid rgb(249, 190, 0);
	color: #999;
	border-radius:.05rem;
}
/*服务保障*/
#serve{
	background-color: #fff;
	padding-bottom: .35rem;
	margin-bottom: .23rem;
}

#serve p:nth-child(1){
	height: 1.018rem;
	line-height: 1.018rem;
	text-align:center;
	font-size: .37rem;
	letter-spacing: .05rem;
	color: #333;
}
#serve>ul:nth-child(2){
	display:flex;
}

#serve>ul:nth-child(2)>a{
	flex: 1;
	height: 1.67656rem;
	display: block;
}
#serve>ul>a>li>i{
	background-image: url(../img/icon_7.png);
	background-size: .75rem .75rem;
	display: block;
	height: .75rem;
	width: .75rem;
	margin: 0 auto .185rem auto;
}
#serve>ul>a:nth-child(2)>li>i{
	background-image: url(../img/icon_9.png);
}
#serve>ul>a:nth-child(3)>li>i{
	background-image: url(../img/icon_7.png);
}
#serve>ul>a:nth-child(4)>li>i{
	background-image: url(../img/icon_9.png);
}
#serve>ul>a>li>p{
	color:#999;
	font-size: .3rem;
	text-align: center;
}
#serve>ul#serBox{
	padding-top: 0;
    padding-right: 0.15rem;
    padding-bottom: 0.15rem;
    padding-left: 0.15rem;
    overflow: hidden;
    height:1.8rem;
}
#serve>ul>li{
	border: 1px solid #cecece;
	 border-radius: .1rem;
    font-size: 0.22rem;
    color: #666;
    padding: 0.24rem;
    line-height: 1.5;
    float: left;
    margin-bottom: .4rem;
}
#serve>p:nth-child(4){
	display: block;
    width: 2.66rem;
    height: 0.6rem;
    line-height: 0.6rem;
    background-color: #fff;
    border: 1px solid #f9be00;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.26rem;
    text-align: center;
    box-sizing: border-box;
    margin-top: .16rem;
}

/*合作*/
#operation{
	background-color: #fff;
	padding-bottom: .35rem;
}
#operation p:nth-child(1){
	height: 1.018rem;
	line-height: 1.018rem;
	text-align:center;
	font-size: .37rem;
	letter-spacing: .05rem;
	color: #333;
}
#operation>img{
	display: block;
	width: 90%;
	margin: 0 5% 0 5%;
}

/*查询*/
#inquireBox{
	padding:0 .3rem;	
}
#inquire{
	overflow: hidden;
	border-bottom: 1px solid #999;
}

#inquire>a>li {
	font-size: .30rem;
    color: #666;
    float: left;
    line-height: 1rem;
}

#inquire>a:nth-child(1)>li{
	
    margin-right: .4rem;
}
#inquire>a:nth-child(3)>li{
	float: right;
}
#inquire>a:nth-child(3)>li>p{
	 font-size: .25rem;
    width: 1.38rem;
    height: .55rem;
    border: .03rem solid #eb5a47;
    text-align: center;
    line-height: .50rem;
    margin-top: .2rem;
    border-radius: .12rem;
    color: #eb5a47;
}

section>.f-p1{
	font-size: .16rem !important;
    color: #999;
    text-indent: .32rem;
    margin-top: .32rem;
}
section{
	padding-bottom: .5rem;
}

/*遮罩层*/
#cover{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
}
#cover_list{
	display: none;
	position: absolute;
	left: 0;
	top: .96rem;
	width: 100%;
	z-index: 100;
	max-width: 7.4rem;
	background-color: #fff;	
}
#cover_list>li{
	padding:0 .2rem;
}
#cover_list>li>a{
	position: relative;
	display: block;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.28rem;
    color: #888;
    border-bottom: 1px solid #eee;
    font-family: "微软雅黑";
}
#cover_list>li:last-child{
	overflow: hidden;
}

#cover_list>li:last-child>a{
	width: 2.5rem;
    height: .67rem;
    line-height: .67rem;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-align: center;
    margin: 0.6rem 0.35rem;
    float: left;
}
