header{
    color: #333;
}
header>div{
	display: flex;
	margin:.27rem 0 ;
	height: .63rem;
	position: relative;
}
header>div>form{
	flex:5;
}
input[type=search]{
    background-color: #fff;
	border: 1px solid #f9be00;
	padding:0;
    margin-left: 3%;
    margin-bottom: 0;
    height: 0.63rem;
    border-radius: .315rem;
    font-size: .26rem;
    color:#f9be00;
    padding-left: .6rem;
    text-align: left;
    font-family: "微软雅黑";	
    width: 100%;
}
header>#searchBox>form>input[type=search]{
    border: 1px solid #f9be00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transform:translateY(-.5rem);
}
header>div::after{
	content: "";
	position: absolute;
	left: .38rem;
	top: 0.15rem;
	width: .36rem;
	height: .36rem;
	z-index: 100;
	background-image: url(../img/sprite_1.png);
	-webkit-background-size: 3rem 7.68rem;
	background-size: 3rem 7.68rem;
	background-position: 0 -0.44rem;
	
}
header>div#searchBox>a{
	width: 20%;
	color: #666;
	line-height: 0.65rem;
	border: 0;
	font-size: .26rem;
	text-align: center;
	cursor: pointer;
}
/*搜索记录*/

#record{
}
#record>.record-title{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
	padding: 0 0.2rem;
    background-color: #f5f5f5;	
    overflow: hidden;
}
#record>.record-title>p{
	font-size: .28rem;
    line-height: 0.68rem;
    float: left;
}
#record>.record-title>a{
	font-size: .28rem;
    line-height: 0.68rem;
    float: right;
    color: #f9be00;
}
#record>ul{
	padding:.23rem .2rem;
	overflow: hidden;
}
#record>ul>li{
	float: left;
    height: 0.74rem;
    line-height: 0.74rem;
    font-size: 0.23rem;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB W3", Helvetica, "Heiti SC", "Droid Sans", Droidsansfallback, sans-serif;
	box-sizing:boder-box;
    border-radius: .11rem;
    background-color: #f5f7fa;
    padding: 0 .2312rem;
    margin-right: .28rem;
    margin-bottom: .23rem;
    width:auto;
}
#record>ul>li>a{
	color: #666;
}
/*热门搜索*/
#hot{
}
#hot>.hot-title{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
	padding: 0 0.2rem;
    background-color: #f5f5f5;	
    overflow: hidden;
}
#hot>.hot-title>p{
	font-size: .28rem;
    line-height: 0.68rem;
    float: left;
}
#hot>.hot-title>a{
	font-size: .28rem;
    line-height: 0.68rem;
    float: right;
    color: #f9be00;
}
#hot>ul{
	padding:.23rem .2rem;
	display: flex;
	width: 100%;
	align-items:center;
	flex-wrap:wrap;
}

#hot>ul>li{
	width: 50%;
	box-sizing:border-box;
	line-height: .51rem;
	margin-bottom: .3rem;
	font-size: .25rem;
	overflow: hidden;
}
#hot>ul>li>span{
	float: left;
	width: .35rem;
	line-height: .39rem;
	margin:.08rem 0 0 .2rem;
	font-size: .25rem;
	text-align: center;
	border-radius: .05rem;
	color: #fff;
	background-color: #ccc;
} 
#hot>ul>li>p{
	float: left;
	margin-left: .08rem
}
#hot>ul>li:nth-child(1)>span{
	background-color:#ff9200;

}
#hot>ul>li:nth-child(2)>span{
	background-color:#ffd300;

}
#hot>ul>li:nth-child(3)>span{
	background-color:#58b7e3;

}
