<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/search.css">
    <script src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/vue-resource.js"></script>
</head>

<body>
    <div id="box">
        <header>
            <div id="searchBox">
                <form @submit.prevent="subInfo()">
                     <input type="search" placeholder="输入手机型号" v-model="text"/>
                </form>         
                <a href="selectPark.html">取消</a>
            </div>
        </header>
        <div id="record">
            <div class="record-title">
                <p>搜索记录：</p>
                <a href="javascript:;" @click="clearRecord()">清除</a>
            </div>
            <ul>
                <li v-for="(item,index) in history">
                    <a href="javascript:;"  v-html="item">                   
                    </a>
                </li>
            </ul>
        </div>
        <div id="hot">
            <div class="hot-title">
                <p>热门搜索：</p>
            </div>
            <ul>
                <li>
                	<span>1</span>
                	<p>苹果</p>
                </li>
                <li>
                	<span>2</span>
                	<p>华为</p>
                </li>
                <li>
                	<span>3</span>
                	<p>三星</p>
                </li>
                <li>
                	<span>4</span>
                	<p>魅族</p>
                </li>
            
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/responsive.js"></script>
<script src="../js/search.js"></script>

</html>
