<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta charset="UTF-8">
		<title>回收宝</title>
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/mui.min.css " />
		<link rel="stylesheet" href="../css/select.css" />
		<script type="text/javascript" src="../js/vue.js"></script>
		<script src="../js/vue-resource.js"></script>
	</head>

	<body>
		<div id="park">
			<header class="mui-card-header">
				<div>
					<div :class="{header_btn_active:!isBtnActive}" @click="init()">手机</div>
					<div :class="{header_btn_active:isBtnActive}" @click="clickIpadPark()">平板</div>
				</div>
				<span>
					<a href="search.html"></a>
				</span>
			</header>
			<section class="mui-content" id='sectionPark'>
				<div class="mui-scroll-wrapper" id="scroll_left">
					<div class="mui-scroll">
						<ul>
							<li :class="{ scroActive: isScroActive == index }" v-for='(item,index) in brand' v-html='item' @click="isScroA(index)"></li>					
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" id="scroll_right">
					<div class="mui-scroll">
						<ul>

							<li v-for="(item,index) in model">
								<a href="javascript:;" class="mui-table-view-cell">
									
									<p>{{item}}</p>
									<span class="mui-badge mui-pull-left">{{index + 1}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
			</section>
			<div id="cover" v-show="isShow">
				<i :style="{backgroundPositionX: bgP + 'rem'}"></i>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script src="../js/responsive.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/select.js"></script>

</html>